{% extends 'base.html' %}

{% block body %}

<div class="container">
        <div class="column">
                <form method="POST" action="">
                    <legend class="border-bottom mb-4">Movie reccomendation - based on your favourite actors and genre!</legend>
                    <div class="form-group">
                        <label>Name of actor 1</label>
                        <input type="text" class="form-control" list="actornames" name ="actornames" placeholder="Type or click to search.." autocomplete="off">
                        <datalist id="actornames">
                            {% for actor in allactors %}
                                <option value= "{{ actor.name }}"></option>
                            {% endfor %}
                        </datalist>
                    </div>
                    <div class="form-group">
                        <label>Name of actor 2</label>
                        <input type="text" class="form-control" list="actornames2" name ="actornames2" placeholder="Type or click to search.." autocomplete="off">
                        <datalist id="actornames2">
                            {% for actor in allactors %}
                                <option value= "{{ actor.name }}"></option>
                            {% endfor %}
                        </datalist>
                    </div>
                    <div class="form-group">
                        <label>Name of actor 3</label>
                        <input type="text" class="form-control" list="actornames3" name ="actornames3" placeholder="Type or click to search.." autocomplete="off">
                        <datalist id="actornames3">
                            {% for actor in allactors %}
                                <option value= "{{ actor.name }}"></option>
                            {% endfor %}
                        </datalist>
                    </div>
                    <div class="form-group">
                        <label>Preferred genre</label>
                        <input type="text" class="form-control" list="genreoptions" name ="genreoptions" placeholder="Type or click to search.." autocomplete="off">
                        <datalist id="genreoptions">
                            {% for genre in genreoptions %}
                            <option value= "{{ genre }}"></option>
                            {% endfor %}    
                        </datalist>
                    </div>
                    <div class="form-group">
                        <label>Preferred genre</label>
                        <input type="text" class="form-control" list="genreoptions2" name ="genreoptions2" placeholder="Type or click to search.." autocomplete="off">
                        <datalist id="genreoptions2">
                            {% for genre in genreoptions %}
                            <option value= "{{ genre }}"></option>
                            {% endfor %}    
                        </datalist>
                    </div>
                    <button type="submit" class="btn btn-primary">Search</button>
                </form>
        </div>
</div>
{% endblock body %}