{% extends 'base.html' %}

{% block body %}

    <div class="container">
        <div class="column">
            
                <form method="POST" action="">
                    <legend class="border-bottom mb-4">Movie search - by a specific director</legend>
                    <div class="form-group">
                        <label>Director Name</label>
                        <input type="text" class="form-control" list="directorname" name ="directorname" placeholder="Type or click to search.." autocomplete="off">
                        <datalist id="directorname">
                            {% for dir in directors %}
                                <select>
                                    <option value= "{{ dir.name }}">{{ dir.name }}</option>
                                </select>
                            {% endfor %}
                        </datalist>
                    </div>
                    <div class="form-group">
                        <label>Movie Rating filter(optional)</label>
                        <select class="form-control" id="rating" name="rating">
                            {% for i in range(11) %}
                            <option value= "{{ i }}">{{ i }}</option>
                            {% endfor %}
                        </select>
                    </div>
                
                    <button type="submit" class="btn btn-primary">Search</button>
                </form>
            
        </div>
    </div>
{% endblock body %}