{% extends 'base.html' %}

{% block body %}
    <div class ="container"></div>
        {% for spec in specific[:1] %}
            <br><h3>Movies directed by: {{spec.name}}</h3><br>
        {%endfor%}
        <table class="table table-hover">
           <tr>
              <th>Title</th>
              <th>Rating</th>
           </tr>
           {% for spec in specific %}
           <tr>
              <td>{{spec.title}}</td>
              <td>{{spec.rating}}</td>
           </tr>
           {%endfor%}
     </table>
     <a class="btn btn-primary" href="/directorsearch">Back to search</a>
  </div>
{% endblock %}