{% extends 'base.html' %}

{% block body %}
<div class="container">
    <div class="column">
        <h1>RDF Grapher - Visualization of RDF graph</h1>
        <p class="lead">This is a visualization of RDF graph data for a small sample of our data. The tool used is RDF Grapher,<a href="http://www.ldf.fi/service/rdf-grapher"> RDF Grapher</a>.</p>
        <!--- RDF grapher; visualization of our RDF graph -->
        <img src="static/img/rdf-grapher1.png" class="img-thumbnail">
    </div>
    
</div>

{% endblock body %}